/* FONTS */

@font-face{font-family:'Mukta Mahee';font-style:normal;font-weight:300;src:local('Mukta Mahee Light'), url('../fonts/MuktaMaheeLight.woff2') format('woff2');
 unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Mukta Mahee';font-style:normal;font-weight:600;src:local('Mukta Mahee SemiBold'), url('../fonts/MuktaMaheeSemiBold.woff2') format('woff2');
 unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
 
/* ANIMATIONS */
@keyframes loader-spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@keyframes checkmark { 0% { height: 0; width: 0; opacity: 1; } 20% { height: 0; width: 5px; opacity: 1; } 40% { height: 10px; width: 5px; opacity: 1; } 100% { height: 10px; width: 5px; opacity: 1; } }
 
/* TOOLTIPS */

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: default;
  font-family:'Mukta Mahee',sans-serif;
  font-size:14px;
  font-weight:600;
  -webkit-app-region: no-drag
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  -webkit-app-region: no-drag
}

[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: 0;
  transform:translateX(-50%);
  padding: 7px 10px 5px 10px;
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: rgba(80, 82, 103, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;max-width:160px;
  -webkit-app-region: no-drag
}

[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid rgba(80, 82, 103, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  -webkit-app-region: no-drag
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-app-region: no-drag
}
 
/* GENERAL */

body{ background:#f8f9fc;text-align:left;font-weight:300;font-size:16px;line-height:1;color:#46474f;cursor:default;position:relative;margin:0 auto;width:auto;min-width:320px;font-family:'Mukta Mahee',sans-serif;height:100%;position:relative;-webkit-user-select: none;}
#frame{width:1024px;height:768px;position:relative;border-radius:0 0 5px 5px;overflow:hidden;  -webkit-app-region: no-drag;}
*{box-sizing:border-box;font-family:'Mukta Mahee',sans-serif;font-weight:300;padding:0;margin:0;vertical-align:middle;}

#popupbackground{background:rgba(50,50,50,0.15);position:fixed;top:0;left:0;right:0;bottom:0;z-index:101;display:none;}

header{background:#fff;padding:20px 30px;box-shadow:0px 2px 2px rgba(0,0,0,0.05);display:flex;flex-direction:row;justify-content:space-between;align-items:center;-webkit-app-region:drag;-webkit-user-select:none;}
header .logo{width:144px;height:36px;background:url("../images/logo.svg") no-repeat;background-size:144px 36px;margin:0 auto 0 0;}
header #icons{margin:0 0 0 auto;display:flex;flex-direction:row;justify-content:flex-end;}
header #icons .icon{width:20px;height:20px;background:url("../images/sprite_icons.svg");background-size:40px 120px;cursor:pointer;margin-left:20px;  -webkit-app-region: no-drag;}
header #icons .icon.login{background-position:0px 0px;}
header #icons .icon.login:hover{background-position:-20px 0px;}
header #icons .icon.dashboard{background-position:0px -20px;}
header #icons .icon.dashboard:hover{background-position:-20px -20px;}
header #icons .icon.help{background-position:0px -40px;}
header #icons .icon.help:hover{background-position:-20px -40px;}
header #icons .icon.close{background-position:0px -80px;}
header #icons .icon.close:hover{background-position:-20px -80px;}
header #icons .icon.minimize{background-position:0px -100px;}
header #icons .icon.minimize:hover{background-position:-20px -100px;}
header #icons [data-tooltip]:before{bottom:auto;top:150%;}
header #icons [data-tooltip]:after{bottom:auto;top:150%;margin-top:-4px;border-top:0;border-bottom:5px solid #000;border-bottom:5px solid rgba(80, 82, 103, 0.9);border-right:5px solid transparent;border-left:5px solid transparent;}

.action_row{display:flex;flex-direction:row;justify-content:flex-start;align-items:center;}
.action_row .message_suc{color:#52cca5;font-weight:600;font-size:16px;display:none;margin-right:10px;}
.action_row .message_err{color:#ff5b56;font-weight:600;font-size:16px;display:none;margin-right:10px;}
.action_row.finished{margin-bottom:20px;}
.action_row .button{margin:0 0 0 auto;flex:0 0 auto;}
.action_row .outlined_button{margin:0 0 0 auto;flex:0 0 auto;}
.circle-loader{display:none;margin:0 10px 0 0;border:3px solid rgba(0, 0, 0, 0.1);border-left-color:#52cca5;animation-name:loader-spin;animation-duration:1s;animation-iteration-count:infinite;animation-timing-function:linear;position:relative;vertical-align:top;}
.circle-loader,.circle-loader:after{border-radius:50%;width:36px;height:36px;}
.load-complete{-webkit-animation:none;animation:none;border-color:#52cca5;transition:border 200ms ease-out;}
.checkmark{display:none;}  
.draw:after{animation-duration:800ms;animation-timing-function:ease;animation-name:checkmark;transform:scaleX(-1) rotate(135deg);}
.checkmark:after{opacity:1;height:10px;width:5px;transform-origin:left top;border-right:3px solid #52cca5;border-top:3px solid #52cca5;content:'';left:8px;top:15px;position:absolute;}

.row{display:flex;flex-direction:row;justify-content:space-between;align-items:top;padding:30px 30px 0 30px;overflow:visible;}
.row .box{background:#fff;box-shadow:0px 2px 2px rgba(0,0,0,0.05);border-radius:3px;width:100%;  -webkit-app-region: no-drag;}
.row .col_1_3{flex:1 1 auto;margin:0 15px;}
.row .col_1_3:first-child{margin:0 15px 0 0;}
.row .col_1_3:last-child{margin:0 0 0 15px;}
.row .col_1_3.box{padding:15px;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;}
.row .col_1_3.box .icon{width:50px;height:50px;background:url("../images/sprite_stats.svg");background-size:150px 50px;margin-right:15px;}
.row .col_1_3.box .icon.earnings{background-position:0px 0px;}
.row .col_1_3.box .icon.workers{background-position:-50px 0px;}
.row .col_1_3.box .icon.active{background-position:-100px 0px;}
.row .col_1_3.box .text{margin-right:20px;flex:1 1 auto;}
.row .col_1_3.box .text .title{font-size:30px;font-weight:300;color:#46474f;position:relative;display:table;}
.row .col_1_3.box .text .title span.superscript{margin:-10px 0 0 1px;display:inline-table;font-size:14px;font-weight:600;}
.row .col_1_3.box .text .subtitle{font-size:14px;font-weight:300;color:#85879b;display:table;margin:0;}

.row .scrollable_frame{width:100%;height:398px;padding:0;display:block;overflow-y:scroll;overflow-x:visible;}
.row .scrollable_frame::-webkit-scrollbar-track{background-color:#e4e7f1;border-radius:30px;}
.row .scrollable_frame::-webkit-scrollbar{width:5px;background-color:#e4e7f1;border-radius:30px;}
.row .scrollable_frame::-webkit-scrollbar-thumb{background-color:#575e71;border-radius:30px;}

.row .table_box{background:#fff;box-shadow:0px 2px 2px rgba(0,0,0,0.05);border-radius:3px;width:100%;height:462px;  -webkit-app-region: no-drag;}
.row .table_box .row{width:100%;display:flex;flex-direction:row;justify-content:space-between;align-items:center;padding:0;}
.row .table_box .row .element{width:200px;}
.row .table_box .header{box-shadow:0px 5px 5px 0px rgba(0,0,0,0.02);}
.row .table_box .header .row{}
.row .table_box .header .row .element{border-bottom:1px solid #e2e5ef;padding:15px 10px;text-transform:uppercase;font-weight:600;font-size:14px;vertical-align:middle;text-align:left;}
.row .table_box .header .row .element:first-child{text-align:left;width:300px;padding:15px 20px;}
.row .table_box .header .row .element:last-child{text-align:right;width:230px;padding:15px 20px;}
.row .table_box .content{margin:10px;  -webkit-app-region: no-drag;}
.row .table_box .content .row{margin-right:10px;width:calc(100% - 10px);}
.row .table_box .content .row .element{border-bottom:1px solid #e2e5ef;padding:15px 10px;text-align:left;}
.row .table_box .content .row .element:first-child{width:290px;}
.row .table_box .content .row .element:last-child{text-align:right;}
.row .table_box .content .row:first-child .element{padding-top:10px;}
.row .table_box .content .row:last-child .element{border-bottom:0;padding-bottom:10px;}
.row .table_box .content .row:last-child .element:first-child{border-radius:0 0 0 3px;}
.row .table_box .content .row:last-child .element:last-child{border-radius:0 0 3px 0;}
.row .table_box .content .row .element .status{width:16px;height:16px;border-radius:100%;border:1px solid #e2e5ef;float:left;margin:-1px 10px 0 0;background:#fff;}
.row .table_box .content .row .element .status .bullet{border-radius:100%;width:10px;height:10px;margin:2px;}
.row .table_box .content .row .element .status.offline .bullet{background:#e2e5ef;}
.row .table_box .content .row .element .status.online .bullet{background:#52cca5;}
.row .table_box .content .row .element .status.idle .bullet{background:#ffd66f;}
.row .table_box .content .row .element [data-tooltip]:before{bottom:auto;top:-7px;left:25px;margin:0 auto 0 0;display:block;transform:none;}
.row .table_box .content .row .element [data-tooltip]:after{bottom:auto;top:2px;left:20px;margin:0;border-top:0;border-left:0;border-right:5px solid #000;border-right:5px solid rgba(80, 82, 103, 0.9);border-top:5px solid transparent;border-bottom:5px solid transparent;transform:none;}

#status_bar{background:#3b3d51;padding:20px;display:flex;flex-direction:row;justify-content:space-between;position:fixed;bottom:0;left:0;right:0;}
#status_bar .left{margin:0 auto 0 0;color:#fff;font-size:14px;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;}
#status_bar .left .icon{width:20px;height:20px;background:url("../images/sprite_icons.svg");background-size:40px 120px;margin-right:10px;}
#status_bar .left .icon.connection{background-position:0px -60px;}
#status_bar .left .icon.disconnected{background-position:-20px -60px;}
#status_bar .right{margin:0 0 0 auto;color:#fff;font-size:14px;align-items:center;display:flex;flex-direction:row;justify-content:flex-end;}

.empty{position:relative;margin:0;-webkit-app-region:drag;width:1024px;height:768px;position:relative;border-radius:0 0 5px 5px;overflow:hidden;}
.empty .box{background:#fff;box-shadow:0px 5px 8px rgba(75,78,105,0.2), 0 15px 30px rgba(75, 78, 105, 0.1);display:block;border-radius:3px;padding:30px;width:380px;margin:0 auto;margin-top:208px;}
.empty .box .logo{width:144px;height:36px;background:url("../images/logo.svg") no-repeat;background-size:144px 36px;margin:0 auto 20px auto;}
.empty .box .divider{border-top:1px solid #e2e5ef;margin-bottom:20px;}
.empty .box .row{display:block;width:100%;padding:0;transform:none;}
.empty .box label{font-size:14px;color:#46474f;font-weight:600;display:block;text-align:left;margin:0 0 5px 0;  -webkit-app-region: no-drag;}
.empty .box input[type="text"]{font-family:'Mukta Mahee',sans-serif;font-weight:300;font-size:16px;display:block;text-align:left;border:1px solid #e2e5ef;border-radius:3px;padding:5px 10px;width:100%;margin:0 0 20px 0;  -webkit-app-region: no-drag;}
.empty .box input[type="text"]:focus{outline: none !important;border-color: #52cca5;box-shadow: 0 0 0px 1px #52cca5;}
.empty .box .button{border-radius:3px;padding:10px 15px;background-color:#52cca5;color:#fff;font-size:16px;font-weight:600;display:inline-flex;width:auto;align-items:center;margin:0 0 0 auto;cursor:pointer;border:0;transition:all .2s ease;-webkit-font-smoothing: antialiased;  -webkit-app-region: no-drag;}
.empty .box .button:hover{background-color:#5667ff;color:#fff;}
.empty .box .button.disabled{background:#e2e5ef;color:#fff;text-decoration:none;cursor:default;}
.empty .box .button.disabled:hover{background-color:#e2e5ef;color:#fff;}
.empty .row{width:100%;margin:0 auto 0 auto;display:flex;flex-direction:row;justify-content:center;}
.empty .row .icon{width:20px;height:20px;background:url("../images/sprite_icons.svg");background-size:40px 120px;cursor:pointer;margin:0 10px;opacity:0.2;}
.empty .row .icon.dashboard{background-position:0px -20px;}
.empty .row .icon.dashboard:hover{background-position:-20px -20px;opacity:1;}
.empty .row .icon.help{background-position:0px -40px;}
.empty .row .icon.help:hover{background-position:-20px -40px;opacity:1;}
.empty .row .icon.close{background-position:0px -80px;}
.empty .row .icon.close:hover{background-position:-20px -80px;opacity:1;}
.empty .row .icon.minimize{background-position:0px -100px;}
.empty .row .icon.minimize:hover{background-position:-20px -100px;opacity:1;}
.empty .row [data-tooltip]:before{bottom:auto;top:150%;}
.empty .row [data-tooltip]:after{bottom:auto;top:150%;margin-top:-4px;border-top:0;border-bottom:5px solid #000;border-bottom:5px solid rgba(80, 82, 103, 0.9);border-right:5px solid transparent;border-left:5px solid transparent;}